%btn-1
{
    background-color: $color-2;
    border: none;
    color: $color-1;
}
%btn-2
{
    background-color: $color-1;
    border: 1px solid $color-2;
    color: $color-2;
}
%btn-3
{
    background-color: $color-6;
    border: none;
    color: $color-1;
}
%btn-4
{
    background-color: $color-1;
    border: 1px solid $color-6;
    color: $color-6;
}
%btn-5
{
    background-color: $color-7;
    border: none;
    color: $color-1;
}
%btn-6
{
    background-color: $color-1;
    border: 1px solid $color-7;
    color: $color-7;
}
