%body-table{
    box-shadow: 0 4px 8px 0 $shadow-color-card, 0 6px 20px 0 $shadow-color-card;
    width: 990px;
    color: $font-color-1;
    tr
    {
        border:2px solid $color-2;
        td, th{
            border:2px solid $color-2;
            border-top:none;
            border-bottom:none;
        }
    }
    tfoot tr td .btn-a {
        width: 80%;
        @extend %btn-1;
        &:hover {
            @extend %btn-2;
        }
    }
    .btn-m {
 
        @extend %btn-7;
        &:hover {
            @extend %btn-8;
        }
    }
    .btn-d {

        @extend %btn-3;
        &:hover {
            @extend %btn-4;
        }
    }
    
    .btn-u {
        @extend %btn-5;
        &:hover {
            @extend %btn-6;
        }
    }

} 