//vairables
//--color
$color-1:#ffffff;
$color-2:#00adbb;
$color-3:#001c33;
$color-4:#ff9430;
$color-5:#00ebeb;
$color-6:#f14a4a;
$color-7:#007ee5;
$color-8:#deeefa;
$color-9:#e8f4f8;
$font-color-1:#182c4b;
$btn-bg-color:#4dabba;
$font-btn-color:#0db1be;
$shadow-color:#0270772e;
$shadow-color-card:#026f7728;
//--element bg-color
//$body-color:$color-dark-3;
//$navbar-color:$color-dark-1;


//--text color

//--fonts
$body-fonts:'Poppins', sans-serif;
