@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  background-color: #ffffff;
}

a, .btn {
  scroll-behavior: smooth;
  transition: 0.4s;
}

.form-immeuble .card form .btn-submit, .modal .btn-a, .login .btn, .content .btn-M, .add .material-symbols-outlined, .navbar .btn, .officesTable tfoot tr td .btn-a, .floorsTable tfoot tr td .btn-a, .usersTable tfoot tr td .btn-a, .domainsTable tfoot tr td .btn-a, .citiesTable tfoot tr td .btn-a {
  background-color: #00adbb;
  border: none;
  color: #ffffff;
}

.form-immeuble .card form .btn-submit:hover, .modal .btn-a:hover, .login .btn:hover, .content .btn-M:hover, .add .material-symbols-outlined:hover, .navbar .btn:hover, .officesTable tfoot tr td .btn-a:hover, .floorsTable tfoot tr td .btn-a:hover, .usersTable tfoot tr td .btn-a:hover, .domainsTable tfoot tr td .btn-a:hover, .citiesTable tfoot tr td .btn-a:hover {
  background-color: #ffffff;
  border: 1px solid #00adbb;
  color: #00adbb;
}

.modal .btn-d, .content .btn-S, .officesTable form .btn-d, .floorsTable form .btn-d, .usersTable form .btn-d, .domainsTable form .btn-d, .citiesTable form .btn-d {
  background-color: #f14a4a;
  border: none;
  color: #ffffff;
}

.modal .btn-d:hover, .content .btn-S:hover, .officesTable form .btn-d:hover, .floorsTable form .btn-d:hover, .usersTable form .btn-d:hover, .domainsTable form .btn-d:hover, .citiesTable form .btn-d:hover {
  background-color: #ffffff;
  border: 1px solid #f14a4a;
  color: #f14a4a;
}

.officesTable .btn-u, .floorsTable .btn-u, .usersTable .btn-u, .domainsTable .btn-u, .citiesTable .btn-u {
  background-color: #007ee5;
  border: none;
  color: #ffffff;
}

.officesTable .btn-u:hover, .floorsTable .btn-u:hover, .usersTable .btn-u:hover, .domainsTable .btn-u:hover, .citiesTable .btn-u:hover {
  background-color: #ffffff;
  border: 1px solid #007ee5;
  color: #007ee5;
}

.form-immeuble .card form .btn-file {
  background-color: #8e8e8e;
  border: none;
  color: #ffffff;
}

.form-immeuble .card form .btn-file:hover {
  background-color: #ffffff;
  border: 1px solid #8e8e8e;
  color: #8e8e8e;
}

.officesTable, .floorsTable, .usersTable, .domainsTable, .citiesTable {
  box-shadow: 0 4px 8px 0 rgba(2, 111, 119, 0.1568627451), 0 6px 20px 0 rgba(2, 111, 119, 0.1568627451);
  width: 900px;
  color: #182c4b;
}
.officesTable tr, .floorsTable tr, .usersTable tr, .domainsTable tr, .citiesTable tr {
  border: 2px solid #00adbb;
}
.officesTable tr th, .floorsTable tr th, .usersTable tr th, .domainsTable tr th, .citiesTable tr th, .officesTable tr td, .floorsTable tr td, .usersTable tr td, .domainsTable tr td, .citiesTable tr td {
  border: 2px solid #00adbb;
  border-top: none;
  border-bottom: none;
}
.officesTable tfoot tr td .btn-a, .floorsTable tfoot tr td .btn-a, .usersTable tfoot tr td .btn-a, .domainsTable tfoot tr td .btn-a, .citiesTable tfoot tr td .btn-a {
  width: 70%;
}
.officesTable .btn-u, .floorsTable .btn-u, .usersTable .btn-u, .domainsTable .btn-u, .citiesTable .btn-u {
  width: 70%;
}
.officesTable form, .floorsTable form, .usersTable form, .domainsTable form, .citiesTable form {
  width: 100%;
}
.officesTable form .btn-d, .floorsTable form .btn-d, .usersTable form .btn-d, .domainsTable form .btn-d, .citiesTable form .btn-d {
  width: 70%;
}
.navbar {
  background-color: #ffffff;
  box-shadow: 0 4px 16px 0 rgba(2, 112, 119, 0.1803921569), 0 6px 40px 0 rgba(2, 112, 119, 0.1803921569);
}
.navbar ul a {
  color: #182c4b;
  margin: 0 15px;
}
.navbar ul a:hover {
  color: #00adbb;
}
.navbar .logo {
  width: 65px;
}
.navbar .container-fluid {
  margin: 0 20px;
}

.add .material-symbols-outlined {
  font-size: 30px;
  width: 20%;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(2, 111, 119, 0.1568627451), 0 6px 20px 0 rgba(2, 111, 119, 0.1568627451);
  text-decoration: none;
}
.content .card {
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(2, 111, 119, 0.1568627451), 0 6px 20px 0 rgba(2, 111, 119, 0.1568627451);
  padding: 0%;
}
.content .card .card-header {
  width: 100%;
}
.content .card .card-img {
  width: 100%;
  height: 40px;
}
.content .card .card-title {
  color: #00adbb;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: xx-large;
  margin: 10px 0;
}
.content .btn-M {
  width: 47%;
}
.content .btn-S {
  width: 47%;
}
.loginLogo {
  margin: 50px auto;
  width: 140px;
}

.login {
  box-shadow: 0 4px 8px 0 rgba(2, 111, 119, 0.1568627451), 0 6px 20px 0 rgba(2, 111, 119, 0.1568627451);
  width: 400px;
  color: #182c4b;
  font-size: 15px;
  font-weight: 500;
}
.login h5 {
  color: #00adbb;
}
.login .input-group-text {
  color: #00adbb;
  background-color: white;
}
.login .input-group-text .icon {
  font-size: 20px;
}
.login .form-check-input:checked {
  background-color: #00adbb;
}
.login .btn {
  width: 100%;
  height: 50px;
  border-radius: 7px;
}
.modal {
  color: #182c4b;
  font-size: 15px;
  font-weight: 500;
}
.modal .label {
  font-size: 20px;
  font-weight: 600;
}

.form-immeuble .card {
  box-shadow: 0 4px 8px 0 rgba(2, 111, 119, 0.1568627451), 0 6px 20px 0 rgba(2, 111, 119, 0.1568627451);
  border-radius: 7px;
}
.form-immeuble .card .card-header {
  background-color: #00adbb;
  color: #ffffff;
  padding: 10px;
  font-size: large;
}
.form-immeuble .card form {
  color: #182c4b;
  padding: 10px;
}
.form-immeuble .card form .dropdown {
  scroll-behavior: smooth;
  transition: 500ms;
}
.form-immeuble .card form .dropdown option {
  background-color: #ffffff;
  color: #182c4b;
}
.form-immeuble .card form .btn-submit {
  width: 100%;
}
.form-immeuble .card form .btn-file {
  scroll-behavior: smooth;
  transition: 300ms;
}/*# sourceMappingURL=style.css.map */