@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import 'vars';
@import 'const';
@import 'buttons';
@import 'tables';
//@import 'button';


//--navbar
.navbar {
    background-color: $color-1;
    box-shadow: 0 4px 16px 0 $shadow-color, 0 6px 40px 0 $shadow-color;
    ul a {
        color: $font-color-1;
        margin: 0 15px;
        &:hover{
            color: $color-2;
        }
    }

    .logo {
        width: 65px;
    }

    .btn {
        @extend %btn-1;

        &:hover {
            @extend %btn-2;
        }
    }

    .container-fluid {
        margin: 0 20px;
    }
}

//--home page style cards

.add{
    .material-symbols-outlined{
        @extend %btn-1;
        font-size: 30px;
        width: 20%;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 $shadow-color-card, 0 6px 20px 0 $shadow-color-card;
        text-decoration: none;
        &:hover{
            @extend %btn-2;
        }
    }
}

//--home page style cards
.content {
    .card {
        width: 30%;
        box-shadow: 0 4px 8px 0 $shadow-color-card, 0 6px 20px 0 $shadow-color-card;
        padding: 0%;
        .card-header{
            width: 100%;
        }
        .card-img{
            width: 100%;
            height: 40px;
        }
        .card-title {
            color: $color-2;
            text-transform: uppercase;
            font-weight: bolder;
            font-size: xx-large;
            margin: 10px 0;
        }
    }

        .btn-M {
            @extend %btn-1;
            width: 47%;
            &:hover {
                @extend %btn-2
            }
        }

        .btn-S {
            @extend %btn-3;
            width: 47%;

            &:hover {
                @extend %btn-4;
            }
    }
}

//--login page
.loginLogo {
    margin: 50px auto;
    width: 140px;
}
.login {
    box-shadow: 0 4px 8px 0 $shadow-color-card, 0 6px 20px 0 $shadow-color-card;
    width: 400px;
    color: $font-color-1;
    font-size: 15px;
    font-weight: 500;
    h5 {
        color: $color-2;
    }
    .input-group-text {
        color: $color-2;
        background-color: white;
        .icon {
            font-size: 20px;
        }
    }
    .form-check-input:checked {
        background-color: $color-2;
    }
    .btn {
        width: 100%;
        height: 50px;
        border-radius: 7px;
        @extend %btn-1;
        &:hover {
            @extend %btn-2;
        }
    }
}

//--table
.citiesTable
{
    @extend %body-table;
}
.domainsTable
{
    @extend %body-table;
}
.usersTable
{
    @extend %body-table;
}
.floorsTable
{
    @extend %body-table;
}
.officesTable
{
    @extend %body-table; 
}
.positionsTable
{
    @extend %body-table; 
}
.modal{
    color: $font-color-1;
    font-size: 15px;
    font-weight: 500;
    .label{
        font-size: 20px;
        font-weight: 600;    
    }
}
.modal .btn-a {
    @extend %btn-1;
    &:hover {
        @extend %btn-2;
    }
}
.modal .btn-d {
    @extend %btn-3;
    &:hover {
        @extend %btn-4;
    }
}

//--form immeuble

.form-immeuble{
    .card{
        box-shadow: 0 4px 8px 0 $shadow-color-card, 0 6px 20px 0 $shadow-color-card;
        border-radius: 7px;
        .card-header{
            background-color: $color-2;
            color: $color-1;
            padding: 10px;
            font-size: large;
            text-transform: uppercase;
            font-weight: bolder;
            text-align: center;
        }
        form{
            color: $font-color-1;
            padding: 10px;
            .dropdown{
                scroll-behavior: smooth;
                transition: 500ms;
                option{
                    background-color: $color-1;
                    color: $font-color-1;
                }
            }
            .btn-submit{
                @extend %btn-1;
                width: 100%;
                text-transform: uppercase;
                font-size: large;
                &:hover{
                    @extend %btn-2;
                }
            }
            
            .btn-file{
                @extend %btn-1;
                &:hover{
                    @extend %btn-2;
                }
            }
        
            #upload {
                opacity: 0;
            }
            
            #upload-label {
                position: absolute;
                top: 50%;
                left: 1rem;
                transform: translateY(-50%);
            }
        }
    }
}