@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  background-color: #ffffff;
}

a, .btn {
  scroll-behavior: smooth;
  transition: 0.4s;
}

.show_company .cards .btn-U, .form-body .card form .btn-file, .form-body .card form .btn-submit, .modal .btn-a, .login .btn, .content .btn-M, .add .material-symbols-outlined, .navbar .btn, .positionsTable tfoot tr td .btn-a, .officesTable tfoot tr td .btn-a, .floorsTable tfoot tr td .btn-a, .usersTable tfoot tr td .btn-a, .domainsTable tfoot tr td .btn-a, .citiesTable tfoot tr td .btn-a {
  background-color: #00adbb;
  border: none;
  color: #ffffff;
}

.show_company .cards .btn-U:hover, .form-body .card form .btn-file:hover, .form-body .card form .btn-submit:hover, .modal .btn-a:hover, .login .btn:hover, .content .btn-M:hover, .add .material-symbols-outlined:hover, .navbar .btn:hover, .positionsTable tfoot tr td .btn-a:hover, .officesTable tfoot tr td .btn-a:hover, .floorsTable tfoot tr td .btn-a:hover, .usersTable tfoot tr td .btn-a:hover, .domainsTable tfoot tr td .btn-a:hover, .citiesTable tfoot tr td .btn-a:hover {
  background-color: #ffffff;
  border: 1px solid #00adbb;
  color: #00adbb;
}

.show_company .cards .btn-S, .modal .btn-d, .content .btn-S, .positionsTable .btn-d, .officesTable .btn-d, .floorsTable .btn-d, .usersTable .btn-d, .domainsTable .btn-d, .citiesTable .btn-d {
  background-color: #f14a4a;
  border: none;
  color: #ffffff;
}

.show_company .cards .btn-S:hover, .modal .btn-d:hover, .content .btn-S:hover, .positionsTable .btn-d:hover, .officesTable .btn-d:hover, .floorsTable .btn-d:hover, .usersTable .btn-d:hover, .domainsTable .btn-d:hover, .citiesTable .btn-d:hover {
  background-color: #ffffff;
  border: 1px solid #f14a4a;
  color: #f14a4a;
}

.positionsTable .btn-u, .officesTable .btn-u, .floorsTable .btn-u, .usersTable .btn-u, .domainsTable .btn-u, .citiesTable .btn-u {
  background-color: #007ee5;
  border: none;
  color: #ffffff;
}

.positionsTable .btn-u:hover, .officesTable .btn-u:hover, .floorsTable .btn-u:hover, .usersTable .btn-u:hover, .domainsTable .btn-u:hover, .citiesTable .btn-u:hover {
  background-color: #ffffff;
  border: 1px solid #007ee5;
  color: #007ee5;
}

.show_company .cards .btn-E, .content .btn-E, .positionsTable .btn-m, .officesTable .btn-m, .floorsTable .btn-m, .usersTable .btn-m, .domainsTable .btn-m, .citiesTable .btn-m {
  background-color: #001c33;
  border: none;
  color: #ffffff;
}

.show_company .cards .btn-E:hover, .content .btn-E:hover, .positionsTable .btn-m:hover, .officesTable .btn-m:hover, .floorsTable .btn-m:hover, .usersTable .btn-m:hover, .domainsTable .btn-m:hover, .citiesTable .btn-m:hover {
  background-color: #ffffff;
  border: 1px solid #001c33;
  color: #001c33;
}

.positionsTable, .officesTable, .floorsTable, .usersTable, .domainsTable, .citiesTable {
  box-shadow: 0 4px 8px 0 rgba(2, 111, 119, 0.1568627451), 0 6px 20px 0 rgba(2, 111, 119, 0.1568627451);
  width: 990px;
  color: #182c4b;
}
.positionsTable tr, .officesTable tr, .floorsTable tr, .usersTable tr, .domainsTable tr, .citiesTable tr {
  border: 2px solid #00adbb;
}
.positionsTable tr td, .officesTable tr td, .floorsTable tr td, .usersTable tr td, .domainsTable tr td, .citiesTable tr td, .positionsTable tr th, .officesTable tr th, .floorsTable tr th, .usersTable tr th, .domainsTable tr th, .citiesTable tr th {
  border: 2px solid #00adbb;
  border-top: none;
  border-bottom: none;
}
.positionsTable tfoot tr td .btn-a, .officesTable tfoot tr td .btn-a, .floorsTable tfoot tr td .btn-a, .usersTable tfoot tr td .btn-a, .domainsTable tfoot tr td .btn-a, .citiesTable tfoot tr td .btn-a {
  width: 80%;
}
.navbar {
  background-color: #ffffff;
  box-shadow: 0 4px 16px 0 rgba(2, 112, 119, 0.1803921569), 0 6px 40px 0 rgba(2, 112, 119, 0.1803921569);
}
.navbar ul a {
  color: #182c4b;
  margin: 0 15px;
}
.navbar ul a:hover {
  color: #00adbb;
}
.navbar .logo {
  width: 65px;
}
.navbar .container-fluid {
  margin: 0 20px;
}

.add .material-symbols-outlined {
  font-size: 30px;
  width: 20%;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(2, 111, 119, 0.1568627451), 0 6px 20px 0 rgba(2, 111, 119, 0.1568627451);
  text-decoration: none;
}
.content .card {
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(2, 111, 119, 0.1568627451), 0 6px 20px 0 rgba(2, 111, 119, 0.1568627451);
  padding: 0%;
}
.content .card .card-header {
  width: 100%;
  background-color: #014f54;
  height: 60px;
}
.content .card .card-img {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0%;
  background-color: #014f54;
  padding: 2px;
}
.content .card .card-title {
  color: #00adbb;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: xx-large;
  margin: 10px 0;
}
.content .card .card-body {
  margin-top: 40px;
}
.content .card .card-body .card-text {
  margin-bottom: 30px;
}
.content .btn-M {
  width: 47%;
}
.content .btn-E {
  width: 47%;
}
.content .btn-S {
  width: 47%;
}
.loginLogo {
  margin: 50px auto;
  width: 140px;
}

.login {
  box-shadow: 0 4px 8px 0 rgba(2, 111, 119, 0.1568627451), 0 6px 20px 0 rgba(2, 111, 119, 0.1568627451);
  width: 400px;
  color: #182c4b;
  font-size: 15px;
  font-weight: 500;
}
.login h5 {
  color: #00adbb;
}
.login .input-group-text {
  color: #00adbb;
  background-color: white;
}
.login .input-group-text .icon {
  font-size: 20px;
}
.login .form-check-input:checked {
  background-color: #00adbb;
}
.login .btn {
  width: 100%;
  height: 50px;
  border-radius: 7px;
}
.modal {
  color: #182c4b;
  font-size: 15px;
  font-weight: 500;
}
.modal .label {
  font-size: 20px;
  font-weight: 600;
}

.form-body .card {
  box-shadow: 0 4px 8px 0 rgba(2, 111, 119, 0.1568627451), 0 6px 20px 0 rgba(2, 111, 119, 0.1568627451);
  border-radius: 7px;
}
.form-body .card .card-header {
  background-color: #00adbb;
  color: #ffffff;
  padding: 10px;
  font-size: large;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
}
.form-body .card form {
  color: #182c4b;
  padding: 10px;
}
.form-body .card form .dropdown {
  scroll-behavior: smooth;
  transition: 500ms;
}
.form-body .card form .dropdown option {
  background-color: #ffffff;
  color: #182c4b;
}
.form-body .card form .btn-submit {
  width: 100%;
  text-transform: uppercase;
  font-size: large;
}
.form-body .card form #upload_logo, .form-body .card form #upload_video, .form-body .card form #upload_image {
  opacity: 0;
}
.form-body .card form #upload-label_logo, .form-body .card form #upload-label_video, .form-body .card form #upload-label_image {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.show_company .cards .card-title {
  color: #00adbb;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: xx-large;
  margin: 10px 0;
}
.show_company .cards .btn-M {
  color: #ffffff;
  background-color: #00adbb;
}
.show_company .cards .btn-M:hover {
  background-color: #018791;
}/*# sourceMappingURL=style.css.map */